@import "forms";

.elevation2 {
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),
	0 2px 2px 0 rgba(0, 0, 0, 0.14),
	0 3px 1px -2px rgba(0, 0, 0, 0.12);;
}

.text-small {
	font-size: 12px;
	line-height: 1;
}

.App {
	text-align: center;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 300;
	color: #212529;
	a {
		text-decoration: inherit;
		color: inherit;
		&:hover, &:active, &:focus {
			color: #fc6f35;
		}
	}
}

.logo {
	height: 80px;
}

.header {
	height: 80px;
	padding: 30px 20px 20px;
}

.info-banner {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 33%;
	padding: 0 10px;
	background: white;
	text-align: justify;
}