$orange: #fd854c;
$dark-orange: #fc6f35;
$gray: #ced4da;
.form {
	width: 100%;
	min-width: 420px;
	min-height: 250px;
	padding: 20px 0 0;

	background: white;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	border-radius: .25rem;
	border: 1px solid rgba(0, 0, 0, .125);

	.form-title {
		font-size: 22px;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: .5rem;
	}
	.form-submit {
		background-color: $orange;
		color: white;
		transition: all 0.3s;
		padding: 13px 20px;
		border: 1px solid $orange;
		border-radius: .3rem;
		font-weight: 600;
		font-size: 16px;
	}
	.form-other {
		font-size: 80%;
		font-weight: 400;
		margin-top: 0.75rem;
		margin-bottom: 1rem;
	}
	> * {
		width: 80%;
	}
}

.input-group {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	//width: 100%;
	> .form-control {
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
		line-height: 1.5;
		height: calc(2rem + 2px);
		padding: .5rem 1rem;
		background-clip: padding-box;
		font-size: 1.25rem;
		border: 1px solid $gray;
		border-radius: .3rem;
		outline: none!important;
		&:focus{
			border-color: $dark-orange !important;
		}
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	&-append {
		margin-left: -1px;
		display: flex;
		background-color: #f8f8f8;
		padding: 11px;
		border: 1px solid $gray;
		border-radius: 0 .3rem .3rem 0;
	}
}

.check-group{
	display: block;
	padding-left: 1.25rem;
	margin-bottom: 1rem;
	.check-input{
		margin-top: .3rem;
		margin-left: -1.25rem;
	}
	.check-label{
		margin-bottom: 0;
	}
}